// TODO Удали потом его
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin wrapperPage {
  width: 100%;
  padding: 10px 0.75rem 0 0.75rem;
}

@mixin listItem {
  border-bottom: 1px solid rgba(64, 56, 56, 0.2);
  padding: 5px 0;
}
@mixin modal {
  width: 30vw;
  height: 35vh;
  position: fixed;
  background: rgb(123, 196, 255);
  top: 30%;
  left: 33%;
  z-index: 100000;
  transition: 0.5s;
  background-color: rgb(121, 179, 255);
  padding: 0px 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

@mixin arrowBack {
  .btnBack {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 25px;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-top: 3px solid white;
      border-right: 3px solid white;
      transform: rotate(-135deg);
    }
    &::before {
      content: '';
      display: block;
      width: 20px;
      border-bottom: 3px solid white;
      position: absolute;
      top: 47%;
    }
  }
}
