@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin wrapperPage {
  width: 100%;
  padding: 10px 0.75rem 0 0.75rem;
}

@mixin listItem {
  border-bottom: 1px solid rgba(64, 56, 56, 0.2);
  padding: 5px 0;
}
@mixin modal {
  width: 35vw;
  height: 35vh;
  position: fixed;
  background: rgb(205, 231, 252);
  top: 30%;
  left: 33%;
  z-index: 100000;
  transition: 0.5s;
  background: rgb(205, 231, 252);
  padding: 0px 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
