@import '../../../styles/templateBase.scss';

.modal {
  transform: scale(0);
  @include modal;
}

.modalActive {
  transition: 0.5s;
  transform: scale(1);
  @include modal;

  & > label {
    color: white;
  }

  & > input {
    width: 90%;
    color: #525151;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      color: #525151;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
  }
  & > button {
    transition: 0.6s;
    &:hover {
      color: white;
    }
  }
}
