@import '../../../styles/templateBase.scss';

.modal {
  transform: scale(0);
  padding: 0 7px;
  @include modal;
}

.modalActive {
  padding: 0 7px;
  transform: scale(1);
  @include modal;

  & > button {
    transition: 0.3s;

    &:hover {
      color: white;
    }
    &:first-child {
      font-weight: bold;
      background: none;
      border: none;
    }
  }
}
