@use '../../../styles/templateBase.scss' as *;
.userPage {
  @include wrapperPage;
}
.userPageHeader {
  @include flex-between;
}
.navLinks {
  margin-bottom: 15px;
}

.loadUser,
.errorUser,
.notUser {
  padding: 4px 0 0 10px;
  font-size: 20px;
}
