@import '../../../styles/templateBase.scss';
@import '../../../styles/variables.scss';
.button {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background: linear-gradient(to bottom, #fafafa 0, #f2f2f2 100%);
  padding: 8px 15px;
  color: $colorTextButton;
  &:hover {
    background: transparent;
  }
}
